<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.1.2" />
  <package id="CliWrap" version="3.6.6" />
  <package id="JustCRC32C" version="1.1.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="NaCl.Net" version="0.1.13" manuallyInstalled="true" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
  <package id="Soenneker.YouTube.Client" version="2.1.757" manuallyInstalled="true" />
  <package id="System.CodeDom" version="8.0.0" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Management" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.3" />
  <package id="TonSdk.Connect" version="0.1.0" manuallyInstalled="true" />
  <package id="TonSdk.Core" version="0.2.2" manuallyInstalled="true" />
  <package id="YoutubeExplode" version="6.3.16" manuallyInstalled="true" />
  <package id="YoutubeExplode.Converter" version="6.3.16" manuallyInstalled="true" />
  <package id="ZXing.Net" version="0.16.9" manuallyInstalled="true" />
</packages>